/* COLORS */

$primary: #EE445C;

$background-1: #2a2d38;
$background-2: #2f353f;
$background-3: #333741;
$background-4: #3f454f;
$primary-text: #ffffff;
$secondary-text: #a8a8a8;

/* FONTS */

$font-family: "Inter", sans-serif;

// DESKTOP
$font-size-primary-desktop: 2.5rem;
$font-size-secondary-desktop: 1.25rem;
$font-size-small-desktop: 1rem;

//MOBILE
$font-size-primary-mobile: 2rem;
$font-size-secondary-mobile: 1rem;

/* BREACKPOINTS */
$medium-breackpoint: 900px;
